<a href="https://colab.research.google.com/github/udbhavmishra/author/blob/master/Automobile_data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
!pip install pdfplumber pandas openpyxl

Collecting pdfplumber
  Downloading pdfplumber-0.11.2-py3-none-any.whl (58 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 58.0/58.0 kB 833.6 kB/s eta 0:00:00
Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (2.0.3)
Requirement already satisfied: openpyxl in /usr/local/lib/python3.10/dist-packages (3.1.5)
Collecting pdfminer.six==20231228 (from pdfplumber)
  Downloading pdfminer.six-20231228-py3-none-any.whl (5.6 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 5.6/5.6 MB 16.2 MB/s eta 0:00:00
Requirement already satisfied: Pillow>=9.1 in /usr/local/lib/python3.10/dist-packages (from pdfplumber) (9.4.0)
Collecting pypdfium2>=4.18.0 (from pdfplumber)
  Downloading pypdfium2-4.30.0-py3-none-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (2.8 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 2.8/2.8 MB 28.2 MB/s eta 0:00:00
Requirement already satisfied: charset-normalizer>=2.0.0 in /usr/local/lib/python3.10/dist-packages (from pdfminer.six==20231228->pdfplumber) (3.3.2)
Requirement already satisfied: cryptography>=36.0.0 in /usr/local/lib/python3.10/dist-packages (from pdfminer.six==20231228->pdfplumber) (42.0.8)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.10/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2023.4)
Requirement already satisfied: tzdata>=2022.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2024.1)
Requirement already satisfied: numpy>=1.21.0 in /usr/local/lib/python3.10/dist-packages (from pandas) (1.25.2)
Requirement already satisfied: et-xmlfile in /usr/local/lib/python3.10/dist-packages (from openpyxl) (1.1.0)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Requirement already satisfied: cffi>=1.12 in /usr/local/lib/python3.10/dist-packages (from cryptography>=36.0.0->pdfminer.six==20231228->pdfplumber) (1.16.0)
Requirement already satisfied: pycparser in /usr/local/lib/python3.10/dist-packages (from cffi>=1.12->cryptography>=36.0.0->pdfminer.six==20231228->pdfplumber) (2.22)
Installing collected packages: pypdfium2, pdfminer.six, pdfplumber
Successfully installed pdfminer.six-20231228 pdfplumber-0.11.2 pypdfium2-4.30.0

In [3]:
# import pdfplumber
# import pandas as pd

# # Open the PDF file
# pdf_path = '/content/29999420 (6516327) Loss Run.pdf'
# with pdfplumber.open(pdf_path) as pdf:
#     pages = pdf.pages
#     data = []
#     for page in pages:
#         table = page.extract_table()
#         if table:
#             data.extend(table)

# # Convert to DataFrame and clean it up
# df = pd.DataFrame(data[1:], columns=data[0])

# # Remove blank columns
# df = df.dropna(axis=1, how='all')

# # # Save to Excel
# # excel_path = '/content/drive/loss'
# # df.to_excel(excel_path, index=False)
# # excel_path

In [4]:
# df

In [5]:
# df1=df.to_excel('output.xlsx', index=False)
# df1
# #

In [6]:
# df1.head()

In [8]:
import pdfplumber
import pandas as pd

# Open the PDF file
pdf_path = '/content/24-25 Submission (2).pdf'
with pdfplumber.open(pdf_path) as pdf:
    pages = pdf.pages
    data = []
    for page in pages:
        table = page.extract_table()
        if table:
            data.extend(table)

# Convert to DataFrame and clean it up
df = pd.DataFrame(data[1:], columns=data[0])

# Remove blank columns
df = df.dropna(axis=1, how='all')

# Save to Excel
excel_path = '/content/sample_data.xlsx'
df.to_excel(excel_path, index=False)
excel_path

'/content/sample_data.xlsx'

In [9]:
df.head()

,#,UNIT #,SSOL ELBAYAP,YEAR,MAKE/MODEL,SERIAL NUMBER,VALUE,SECTION A,SECTION A.1,SECTION B,SECTION C - PHYSICAL DAMAGE,None,None,None,ENDORSEMENTS,ADD/\nDELETE\nDATE
0,None,None,None,None,None,None,None,"$5,000,000",DCPD DEDUCTIBLE,ACCIDENT BENEFITS,ALL PERILS\nDEDUCTIBLE,COLLISION\nDEDUCTIBLE,COMP.\nDEDUCTIBLE,SPEC. PERILS\nDEDUCTIBLE,None,None
1,None,None,None,None,None,None,None,LIABILITY LIMIT,None,None,None,None,None,None,None,None
2,HEAVY COMMERCIAL - DUMP TRUCKS,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
3,1,FL1,,2004,Freightliner FLD120SD T/A Dump,1FVHALAV04DN28068,"$75,000",Covered,,Covered,"$5,000",,,,"21B, 23A, 30, 30A,\n40, 44",
4,2,FL2,,2006,Freightliner Dump Truck,1FVHALAV56DW57006,"$75,000",Covered,,Covered,"$5,000",,,,"21B, 23A, 30, 30A,\n40, 44",

In [18]:
import pandas as pd

# Load the Excel file
file_path = '/content/sample_data.xlsx'
xls = pd.ExcelFile(file_path)

# Load both sheets
sheet1 = pd.read_excel(xls, 'Sheet1', skiprows=3)
# sheet2 = pd.read_excel(xls, 'Sheet2')

# Drop any completely empty columns
sheet1.dropna(how='all', axis=1, inplace=True)

# Check the number of columns before renaming
print("Number of columns:", len(sheet1.columns))


# Rename the columns to match Sheet 2
# sheet1.columns = ['# UNIT #', 'SSOL ELBAYAP', 'YEAR', 'MAKE/MODEL', 'SERIAL NUMBER', 'VALUE', 'SECTION A', 'SECTION A.1', 'SECTION B', 'SECTION C - PHYSICAL DAMAGE', 'Unnamed: 11', 'Unnamed: 12', 'Unnamed: 13', 'ENDORSEMENTS', 'ADD/\nDELETE\nDATE']



# Rename the columns
new_column_names = {
    '# UNIT #': 'Unit Number',

    'YEAR': 'Year',
    'MAKE/MODEL': 'Make/Model',
    'SERIAL NUMBER': 'Serial Number',
    'VALUE': 'Value',
    'SECTION A': 'Section A',
    'SECTION A.1': 'TPL',
    'SECTION B': 'Section B',
    'SECTION C - PHYSICAL DAMAGE': 'ALL Perils','ENDORSEMENTS': 'Endorsements',

}
sheet1.rename(columns=new_column_names, inplace=True)


# Drop any rows that are completely empty
sheet1.dropna(how='all', inplace=True)

# Display the cleaned data
sheet1_cleaned = sheet1.reset_index(drop=True)
sheet1_cleaned.head()

# Convert the cleaned data into a DataFrame
selected_df = pd.DataFrame(sheet1_cleaned)

# Print the DataFrame to verify
print(selected_df.head())


# # Save the cleaned data to a new Excel file
# output_path = '/mnt/data/cleaned_data.xlsx'
# with pd.ExcelWriter(output_path) as writer:
#     sheet1_cleaned.to_excel(writer, index=False, sheet_name='Sheet1')
#     sheet2.to_excel(writer, index=False, sheet_name='Sheet2')

# output_path

Number of columns: 16
  HEAVY COMMERCIAL - DUMP TRUCKS Unnamed: 1 Unnamed: 2 Unnamed: 3  \
0                              1        FL1        NaN       2004
1                              2        FL2        NaN       2006
2                              3        FL3        NaN       2006
3                              4        FL4        NaN       2012
4                              5        FL5        NaN       2007

                         Unnamed: 4         Unnamed: 5 Unnamed: 6 Unnamed: 7  \
0    Freightliner FLD120SD T/A Dump  1FVHALAV04DN28068    $75,000    Covered
1           Freightliner Dump Truck  1FVHALAV56DW57006    $75,000    Covered
2    Freightliner FLD120SD T/A Dump  1FVHALAV66DW57001    $75,000    Covered
3  Freightliner Coronada 122SD Dump  1FVHGNDR8CDBN6604    $85,000    Covered
4    Freightliner FLD120SD T/A Dump  1FVHALAV37DY44777    $65,000    Covered

  Unnamed: 8 Unnamed: 9 Unnamed: 10 Unnamed: 11 Unnamed: 12 Unnamed: 13  \
0        NaN    Covered      $5,000         NaN         NaN         NaN
1        NaN    Covered      $5,000         NaN         NaN         NaN
2        NaN    Covered      $5,000         NaN         NaN         NaN
3        NaN    Covered      $5,000         NaN         NaN         NaN
4        NaN    Covered      $5,000         NaN         NaN         NaN

                  Unnamed: 14 Unnamed: 15
0  21B, 23A, 30, 30A,\n40, 44         NaN
1  21B, 23A, 30, 30A,\n40, 44         NaN
2  21B, 23A, 30, 30A,\n40, 44         NaN
3  21B, 23A, 30, 30A,\n40, 44         NaN
4  21B, 23A, 30, 30A,\n40, 44         NaN

In [15]:
import pandas as pd

# Load the Excel file
file_path = '/content/sample_data.xlsx'
xls = pd.ExcelFile(file_path)

# Reload Sheet 1 with the correct header row
sheet1 = pd.read_excel(xls, 'Sheet1', skiprows=2)

# Drop any completely empty columns
sheet1.dropna(how='all', axis=1, inplace=True)

# Rename the columns
new_column_names = {
    '# UNIT #': 'Unit Number',

    'YEAR': 'Year',
    'MAKE/MODEL': 'Make/Model',
    'SERIAL NUMBER': 'Serial Number',
    'VALUE': 'Value',
    'SECTION A': 'Section A',
    'SECTION A.1': 'TPL',
    'SECTION B': 'Section B',
    'SECTION C - PHYSICAL DAMAGE': 'ALL Perils','ENDORSEMENTS': 'Endorsements',

}
sheet1.rename(columns=new_column_names, inplace=True)

# Drop any rows that are completely empty
sheet1.dropna(how='all', inplace=True)

# Reset index
sheet1_cleaned = sheet1.reset_index(drop=True)

# # Save the cleaned data to a new Excel file
# output_path = 'path_to_your_file/cleaned_data.xlsx'
# with pd.ExcelWriter(output_path) as writer:
#     sheet1_cleaned.to_excel(writer, index=False, sheet_name='Sheet1')
#     sheet2.to_excel(writer, index=False, sheet_name='Sheet2')

# print("Cleaned data has been saved to:", output_path)

In [17]:
# Convert the cleaned data into a DataFrame
cleaned_df = pd.DataFrame(sheet1_cleaned)

# Print the DataFrame to verify
print(cleaned_df.head())

                       Unnamed: 0 Unnamed: 1 Unnamed: 2 Unnamed: 3  \
0  HEAVY COMMERCIAL - DUMP TRUCKS        NaN        NaN        NaN
1                               1        FL1        NaN       2004
2                               2        FL2        NaN       2006
3                               3        FL3        NaN       2006
4                               4        FL4        NaN       2012

                         Unnamed: 4         Unnamed: 5 Unnamed: 6  \
0                               NaN                NaN        NaN
1    Freightliner FLD120SD T/A Dump  1FVHALAV04DN28068    $75,000
2           Freightliner Dump Truck  1FVHALAV56DW57006    $75,000
3    Freightliner FLD120SD T/A Dump  1FVHALAV66DW57001    $75,000
4  Freightliner Coronada 122SD Dump  1FVHGNDR8CDBN6604    $85,000

  LIABILITY LIMIT Unnamed: 8 Unnamed: 9 Unnamed: 10 Unnamed: 11 Unnamed: 12  \
0             NaN        NaN        NaN         NaN         NaN         NaN
1         Covered        NaN    Covered      $5,000         NaN         NaN
2         Covered        NaN    Covered      $5,000         NaN         NaN
3         Covered        NaN    Covered      $5,000         NaN         NaN
4         Covered        NaN    Covered      $5,000         NaN         NaN

  Unnamed: 13                 Unnamed: 14 Unnamed: 15
0         NaN                         NaN         NaN
1         NaN  21B, 23A, 30, 30A,\n40, 44         NaN
2         NaN  21B, 23A, 30, 30A,\n40, 44         NaN
3         NaN  21B, 23A, 30, 30A,\n40, 44         NaN
4         NaN  21B, 23A, 30, 30A,\n40, 44         NaN

In [ ]:
X=np.array(sheet1_cleaned['YEAR	', 'SERIAL NUMBER', 'VALUE','SECTION A','SECTION C - PHYSICAL DAMAGE', '']).reshape((-1, 1))
y=np.array(sheet1_cleaned['Temperature (C)'])
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.3,random_state=200)

In [ ]:
# import pandas as pd

# # Assuming 'df' is your DataFrame from the previous code

# def clean_dataframe(df, none_threshold=0.5):
#     # Remove rows where all values are None
#     df_cleaned = df.dropna(how='all')

#     # Remove rows that contain specific unwanted text (e.g., headers and footers)
#     unwanted_texts = [
#         "# UNIT # SSOL ELBAYAP YEAR MAKE/MODEL SERIAL NUMBER VALUE SECTION A SECTION A.1 SECTION B SECTION C - PHYSICAL DAMAGE None None None ENDORSEMENTS ADD/DELETE DATE",
#         "LIABILITY LIMIT",
#         "This schedule is issued for information purpos...",
#         "Please Sign and Return"
#     ]

#     for text in unwanted_texts:
#         df_cleaned = df_cleaned[~df_cleaned.apply(lambda row: row.astype(str).str.contains(text).any(), axis=1)]

#           # Remove rows with a high number of None values
#     max_none_count = int(len(df_cleaned.columns) * none_threshold)
#     df_cleaned = df_cleaned[df_cleaned.isnull().sum(axis=1) <= max_none_count]

#     # Optionally, reset the index if needed
#     df_cleaned.reset_index(drop=True, inplace=True)

#     return df_cleaned

#     # Optionally, reset the index if needed
#     df_cleaned.reset_index(drop=True, inplace=True)

#     return df_cleaned

# # Example usage
# if __name__ == "__main__":
#     # Clean the DataFrame
#     df_cleaned = clean_dataframe(df)

#     # Print cleaned DataFrame
#     print("Cleaned DataFrame:")
#     print(df_cleaned)

In [ ]:
df_cleaned

In [ ]:
# # Calculate the accuracy and get insights
# print("Summary statistics:")
# print(df_cleaned.describe(include='all'))

# # Check for missing values
# print("Missing values per column:")
# print(df_cleaned.isnull().sum())

# # Additional insights
# # Example: Value counts for categorical columns
# print("Value counts for categorical columns:")
# # Filter out columns named 'None' to avoid the error
# for col in df_cleaned.select_dtypes(include=['object']).columns:
#     if col is not None:  # Check if the column name is not None
#         print(f"{col}:\n{df_cleaned[col].value_counts()}\n")

In [ ]:
# # Calculate the accuracy and get insights
# print("Summary statistics:")
# print(df_cleaned.describe(include='all'))

# # Check for missing values
# print("Missing values per column:")
# print(df_cleaned.isnull().sum())

# # Additional insights
# # Example: Value counts for categorical columns
# print("Value counts for categorical columns:")
# # Get a list of column names EXCLUDING those with the name None
# valid_columns = [col for col in df_cleaned.select_dtypes(include=['object']).columns if col is not None]
# for col in valid_columns:
#     print(f"{col}:\n{df_cleaned[col].value_counts()}\n")

In [ ]:
df.head()

In [ ]:
# Define the target variable
target_variable = 'TARGET_VARIABLE'

# Define the feature columns (excluding the target variable)
feature_columns = [col for col in df.columns if col != target_variable]

# Display the feature columns
print("Feature Columns:")
print(feature_columns)

# Display the target variable
print("\nTarget Variable:")
print(target_variable)

In [ ]:
print("Value counts for 'YEAR':")
print(df['YEAR'].value_counts())

In [ ]:
df_cleaned.head()

In [ ]:
df_cleaned

In [ ]:
print(list(df.columns))
for column in df.columns:
    print(column)

In [ ]:
df_filtered.

In [ ]:
# Selecting specific columns
new_auto = ['YEAR', 'MAKE/MODEL', 'SERIAL NUMBER', 'VALUE', 'ENDORSEMENTS', 'SECTION A', 'SECTION A.1', 'SECTION B']

# Create a new DataFrame with selected columns
df_filtered = df_cleaned[new_auto]

# Display the filtered DataFrame
print(df_filtered)

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, classification_report

# Example: Logistic Regression for classification

# Prepare the data (this will depend on your specific dataset)
# Check the actual column names in your DataFrame
print(df_filtered.columns)

# Use the target_variable to select the correct column name
X = df_filtered.drop(target_variable, axis=1)  # Features
y = df_filtered[target_variable]  # Target variable

# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Train the model
model = LogisticRegression()
model.fit(X_train, y_train)

# Predict on the test set
y_pred = model.predict(X_test)

# Evaluate the model
accuracy = accuracy_score(y_test, y_pred)
print(f"Accuracy: {accuracy}")
print("Classification Report:")
print(classification_report(y_test, y_pred))

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, classification_report

# Example: Logistic Regression for classification

# Prepare the data (this will depend on your specific dataset)
# Check the actual column names in your DataFrame
print(df_cleaned.columns)

# Assume 'TARGET_VARIABLE' is the actual name of the column you want to predict
X = df_cleaned.drop('target_variable', axis=1)  # Features
y = df_cleaned['target_variable']  # Target variable

# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Train the model
model = LogisticRegression()
model.fit(X_train, y_train)

# Predict on the test set
y_pred = model.predict(X_test)

# Evaluate the model
accuracy = accuracy_score(y_test, y_pred)
print(f"Accuracy: {accuracy}")
print("Classification Report:")
print(classification_report(y_test, y_pred))

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, classification_report

# Example: Logistic Regression for classification

# Prepare the data (this will depend on your specific dataset)
# Assume 'target' is the column you want to predict
X = df_cleaned.drop('target', axis=1)  # Features
y = df_cleaned['target']  # Target variable

# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Train the model
model = LogisticRegression()
model.fit(X_train, y_train)

# Predict on the test set
y_pred = model.predict(X_test)

# Evaluate the model
accuracy = accuracy_score(y_test, y_pred)
print(f"Accuracy: {accuracy}")
print("Classification Report:")
print(classification_report(y_test, y_pred))