<a href="https://colab.research.google.com/github/udbhavmishra/author/blob/master/Automobile_data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
!pip install pdfplumber pandas openpyxl

Requirement already satisfied: pdfplumber in /usr/local/lib/python3.10/dist-packages (0.11.1)
Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (2.0.3)
Requirement already satisfied: openpyxl in /usr/local/lib/python3.10/dist-packages (3.1.5)
Requirement already satisfied: pdfminer.six==20231228 in /usr/local/lib/python3.10/dist-packages (from pdfplumber) (20231228)
Requirement already satisfied: Pillow>=9.1 in /usr/local/lib/python3.10/dist-packages (from pdfplumber) (9.4.0)
Requirement already satisfied: pypdfium2>=4.18.0 in /usr/local/lib/python3.10/dist-packages (from pdfplumber) (4.30.0)
Requirement already satisfied: charset-normalizer>=2.0.0 in /usr/local/lib/python3.10/dist-packages (from pdfminer.six==20231228->pdfplumber) (3.3.2)
Requirement already satisfied: cryptography>=36.0.0 in /usr/local/lib/python3.10/dist-packages (from pdfminer.six==20231228->pdfplumber) (42.0.8)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.10/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2023.4)
Requirement already satisfied: tzdata>=2022.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2024.1)
Requirement already satisfied: numpy>=1.21.0 in /usr/local/lib/python3.10/dist-packages (from pandas) (1.25.2)
Requirement already satisfied: et-xmlfile in /usr/local/lib/python3.10/dist-packages (from openpyxl) (1.1.0)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Requirement already satisfied: cffi>=1.12 in /usr/local/lib/python3.10/dist-packages (from cryptography>=36.0.0->pdfminer.six==20231228->pdfplumber) (1.16.0)
Requirement already satisfied: pycparser in /usr/local/lib/python3.10/dist-packages (from cffi>=1.12->cryptography>=36.0.0->pdfminer.six==20231228->pdfplumber) (2.22)

In [ ]:
# import pdfplumber
# import pandas as pd

# # Open the PDF file
# pdf_path = '/content/29999420 (6516327) Loss Run.pdf'
# with pdfplumber.open(pdf_path) as pdf:
#     pages = pdf.pages
#     data = []
#     for page in pages:
#         table = page.extract_table()
#         if table:
#             data.extend(table)

# # Convert to DataFrame and clean it up
# df = pd.DataFrame(data[1:], columns=data[0])

# # Remove blank columns
# df = df.dropna(axis=1, how='all')

# # # Save to Excel
# # excel_path = '/content/drive/loss'
# # df.to_excel(excel_path, index=False)
# # excel_path

In [ ]:
# df

In [ ]:
# df1=df.to_excel('output.xlsx', index=False)
# df1
# #

In [ ]:
# df1.head()

In [ ]:
import pdfplumber
import pandas as pd

# Open the PDF file
pdf_path = '/content/24-25 Submission (2).pdf'
with pdfplumber.open(pdf_path) as pdf:
    pages = pdf.pages
    data = []
    for page in pages:
        table = page.extract_table()
        if table:
            data.extend(table)

# Convert to DataFrame and clean it up
df = pd.DataFrame(data[1:], columns=data[0])

# Remove blank columns
df = df.dropna(axis=1, how='all')

# Save to Excel
# excel_path = '/mnt/data/vehicle_schedule.xlsx'
# df.to_excel(excel_path, index=False)
# excel_path

In [ ]:
df

,#,UNIT #,SSOL ELBAYAP,YEAR,MAKE/MODEL,SERIAL NUMBER,VALUE,SECTION A,SECTION A.1,SECTION B,SECTION C - PHYSICAL DAMAGE,None,None,None,ENDORSEMENTS,ADD/\nDELETE\nDATE
0,None,None,None,None,None,None,None,"$5,000,000",DCPD DEDUCTIBLE,ACCIDENT BENEFITS,ALL PERILS\nDEDUCTIBLE,COLLISION\nDEDUCTIBLE,COMP.\nDEDUCTIBLE,SPEC. PERILS\nDEDUCTIBLE,None,None
1,None,None,None,None,None,None,None,LIABILITY LIMIT,None,None,None,None,None,None,None,None
2,HEAVY COMMERCIAL - DUMP TRUCKS,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
3,1,FL1,,2004,Freightliner FLD120SD T/A Dump,1FVHALAV04DN28068,"$75,000",Covered,,Covered,"$5,000",,,,"21B, 23A, 30, 30A,\n40, 44",
4,2,FL2,,2006,Freightliner Dump Truck,1FVHALAV56DW57006,"$75,000",Covered,,Covered,"$5,000",,,,"21B, 23A, 30, 30A,\n40, 44",
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
168,#,UNIT #,SSOL ELBAYAP,YEAR,MAKE/MODEL,SERIAL NUMBER,VALUE,SECTION A,SECTION A.1,SECTION B,SECTION C - PHYSICAL DAMAGE,None,None,None,ENDORSEMENTS,ADD/\nDELETE\nDATE
169,None,None,None,None,None,None,None,"$5,000,000",DCPD DEDUCTIBLE,ACCIDENT BENEFITS,ALL PERILS\nDEDUCTIBLE,COLLISION\nDEDUCTIBLE,COMP.\nDEDUCTIBLE,SPEC. PERILS\nDEDUCTIBLE,None,None
170,None,None,None,None,None,None,None,LIABILITY LIMIT,None,None,None,None,None,None,None,None
171,This schedule is issued for information purpos...,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
172,Please Sign and Return,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None

In [ ]:
import pandas as pd

# Assuming 'df' is your DataFrame from the previous code

def clean_dataframe(df, none_threshold=0.5):
    # Remove rows where all values are None
    df_cleaned = df.dropna(how='all')

    # Remove rows that contain specific unwanted text (e.g., headers and footers)
    unwanted_texts = [
        "# UNIT # SSOL ELBAYAP YEAR MAKE/MODEL SERIAL NUMBER VALUE SECTION A SECTION A.1 SECTION B SECTION C - PHYSICAL DAMAGE None None None ENDORSEMENTS ADD/DELETE DATE",
        "LIABILITY LIMIT",
        "This schedule is issued for information purpos...",
        "Please Sign and Return"
    ]

    for text in unwanted_texts:
        df_cleaned = df_cleaned[~df_cleaned.apply(lambda row: row.astype(str).str.contains(text).any(), axis=1)]

          # Remove rows with a high number of None values
    max_none_count = int(len(df_cleaned.columns) * none_threshold)
    df_cleaned = df_cleaned[df_cleaned.isnull().sum(axis=1) <= max_none_count]

    # Optionally, reset the index if needed
    df_cleaned.reset_index(drop=True, inplace=True)

    return df_cleaned

    # Optionally, reset the index if needed
    df_cleaned.reset_index(drop=True, inplace=True)

    return df_cleaned

# Example usage
if __name__ == "__main__":
    # Clean the DataFrame
    df_cleaned = clean_dataframe(df)

    # Print cleaned DataFrame
    print("Cleaned DataFrame:")
    print(df_cleaned)

Cleaned DataFrame:
                                                  #  UNIT #  SSOL ELBAYAP  \
0                                                 1     FL1
1                                                 2     FL2
2                                                 3     FL3
3                                                 4     FL4
4                                                 5     FL5
..                                              ...     ...           ...
140                        Light Commercial Trailer       8       Covered
141  Heavy Commercial Gravel Trailer - 2015 & Older      19       Covered
142  Heavy Commercial Gravel Trailer - 2016 & Newer       4       Covered
143         Heavy Commercial Trailer - 2015 & Older      14       Covered
144                                               #  UNIT #  SSOL ELBAYAP

        YEAR                        MAKE/MODEL      SERIAL NUMBER    VALUE  \
0       2004    Freightliner FLD120SD T/A Dump  1FVHALAV04DN28068  $75,000
1       2006           Freightliner Dump Truck  1FVHALAV56DW57006  $75,000
2       2006    Freightliner FLD120SD T/A Dump  1FVHALAV66DW57001  $75,000
3       2012  Freightliner Coronada 122SD Dump  1FVHGNDR8CDBN6604  $85,000
4       2007    Freightliner FLD120SD T/A Dump  1FVHALAV37DY44777  $65,000
..       ...                               ...                ...      ...
140  Covered                           Covered             $1,000
141  Covered                           Covered             $1,000
142  Covered                           Covered             $2,500
143  Covered                           Covered             $1,000
144     YEAR                        MAKE/MODEL      SERIAL NUMBER    VALUE

     SECTION A  SECTION A.1  SECTION B  SECTION C - PHYSICAL DAMAGE  None  \
0      Covered                 Covered                       $5,000
1      Covered                 Covered                       $5,000
2      Covered                 Covered                       $5,000
3      Covered                 Covered                       $5,000
4      Covered                 Covered                       $5,000
..         ...          ...        ...                          ...   ...
140                                                                  None
141                                                                  None
142                                                                  None
143                                                                  None
144  SECTION A  SECTION A.1  SECTION B  SECTION C - PHYSICAL DAMAGE  None

     None  None                ENDORSEMENTS  ADD/\nDELETE\nDATE
0                21B, 23A, 30, 30A,\n40, 44
1                21B, 23A, 30, 30A,\n40, 44
2                21B, 23A, 30, 30A,\n40, 44
3                21B, 23A, 30, 30A,\n40, 44
4                21B, 23A, 30, 30A,\n40, 44
..    ...   ...                         ...                 ...
140  None  None                        None                None
141  None  None                        None                None
142  None  None                        None                None
143  None  None                        None                None
144  None  None                ENDORSEMENTS  ADD/\nDELETE\nDATE

[145 rows x 16 columns]

In [ ]:
df_cleaned

,#,UNIT #,SSOL ELBAYAP,YEAR,MAKE/MODEL,SERIAL NUMBER,VALUE,SECTION A,SECTION A.1,SECTION B,SECTION C - PHYSICAL DAMAGE,None,None,None,ENDORSEMENTS,ADD/\nDELETE\nDATE
0,1,FL1,,2004,Freightliner FLD120SD T/A Dump,1FVHALAV04DN28068,"$75,000",Covered,,Covered,"$5,000",,,,"21B, 23A, 30, 30A,\n40, 44",
1,2,FL2,,2006,Freightliner Dump Truck,1FVHALAV56DW57006,"$75,000",Covered,,Covered,"$5,000",,,,"21B, 23A, 30, 30A,\n40, 44",
2,3,FL3,,2006,Freightliner FLD120SD T/A Dump,1FVHALAV66DW57001,"$75,000",Covered,,Covered,"$5,000",,,,"21B, 23A, 30, 30A,\n40, 44",
3,4,FL4,,2012,Freightliner Coronada 122SD Dump,1FVHGNDR8CDBN6604,"$85,000",Covered,,Covered,"$5,000",,,,"21B, 23A, 30, 30A,\n40, 44",
4,5,FL5,,2007,Freightliner FLD120SD T/A Dump,1FVHALAV37DY44777,"$65,000",Covered,,Covered,"$5,000",,,,"21B, 23A, 30, 30A,\n40, 44",
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
140,Light Commercial Trailer,8,Covered,Covered,Covered,"$1,000",,,,,,None,None,None,None,None
141,Heavy Commercial Gravel Trailer - 2015 & Older,19,Covered,Covered,Covered,"$1,000",,,,,,None,None,None,None,None
142,Heavy Commercial Gravel Trailer - 2016 & Newer,4,Covered,Covered,Covered,"$2,500",,,,,,None,None,None,None,None
143,Heavy Commercial Trailer - 2015 & Older,14,Covered,Covered,Covered,"$1,000",,,,,,None,None,None,None,None
144,#,UNIT #,SSOL ELBAYAP,YEAR,MAKE/MODEL,SERIAL NUMBER,VALUE,SECTION A,SECTION A.1,SECTION B,SECTION C - PHYSICAL DAMAGE,None,None,None,ENDORSEMENTS,ADD/\nDELETE\nDATE

In [ ]:
# Calculate the accuracy and get insights
print("Summary statistics:")
print(df_cleaned.describe(include='all'))

# Check for missing values
print("Missing values per column:")
print(df_cleaned.isnull().sum())

# Additional insights
# Example: Value counts for categorical columns
print("Value counts for categorical columns:")
for col in df_cleaned.select_dtypes(include=['object']).columns:
    print(f"{col}:\n{df_cleaned[col].value_counts()}\n")

Summary statistics:
          # UNIT # SSOL ELBAYAP YEAR MAKE/MODEL SERIAL NUMBER VALUE SECTION A  \
count   145    145          145  145        145           145   145       145
unique   57     91            4   31         99           114    34         5
top                                     Covered                       Covered
freq     14     43          122   23         17            15    35       106

       SECTION A.1 SECTION B SECTION C - PHYSICAL DAMAGE None None None  \
count          145       145                         145  122  122  122
unique           3         6                           6    1    1    1
top                  Covered                      $1,000
freq           139        61                          69  122  122  122

                  ENDORSEMENTS ADD/\nDELETE\nDATE
count                      127                127
unique                       8                  2
top     21B, 23A, 30, 30A,\n40
freq                        45                122
Missing values per column:
#                               0
UNIT #                          0
SSOL ELBAYAP                    0
YEAR                            0
MAKE/MODEL                      0
SERIAL NUMBER                   0
VALUE                           0
SECTION A                       0
SECTION A.1                     0
SECTION B                       0
SECTION C - PHYSICAL DAMAGE     0
None                           23
None                           23
None                           23
ENDORSEMENTS                   18
ADD/\nDELETE\nDATE             18
dtype: int64
Value counts for categorical columns:
#:
#
                                                       14
1                                                      12
2                                                      10
3                                                       8
4                                                       7
5                                                       7
6                                                       7
7                                                       5
#                                                       5
8                                                       4
12                                                      3
9                                                       3
11                                                      3
10                                                      3
18                                                      2
23                                                      2
22                                                      2
21                                                      2
20                                                      2
19                                                      2
16                                                      2
15                                                      2
14                                                      2
13                                                      2
17                                                      2
Light Commercial Vehciles - 2021 & Newer                1
Heavy Commercial Water Trucks                           1
Heavy Commercial Pick-Up Welding Yard ONLY Vehicle      1
Heavy Commercial Pick-Up - LPN $60,000 & Under          1
Heavy Commercial Pick-Up - LPN $60,001 to $250,000      1
Heavy Commercial Gravel/Stone Slinger Trucks            1
Heavy Commercial Tractors                               1
Heavy Commercial Plow Truck                             1
Heavy Commercial Fuel Trucks                            1
Heavy Commercial Drill Trucks                           1
ATVs                                                    1
Light Commercial Trailer                                1
Heavy Commercial Gravel Trailer - 2015 & Older          1
Heavy Commercial Gravel Trailer - 2016 & Newer          1
Light Commercial Plow/Sander Vehicles - 202 & Older     1
27                                                      1
Light Commercial Vehicles - 2020 & Older                1
SCOPE OF COVERAGE                                       1
37                                                      1
36                                                      1
35                                                      1
34                                                      1
33                                                      1
32                                                      1
31                                                      1
30                                                      1
29                                                      1
28                                                      1
26                                                      1
25                                                      1
24                                                      1
Heavy Commercial Trailer - 2015 & Older                 1
Name: count, dtype: int64

UNIT #:
UNIT #
          43
1          6
UNIT #     5
PU20       2
7          2
          ..
WT207      1
WT206      1
WT205      1
WT204      1
14         1
Name: count, Length: 91, dtype: int64

SSOL ELBAYAP:
SSOL ELBAYAP
                122
Covered          17
SSOL ELBAYAP      5
TPL               1
Name: count, dtype: int64

YEAR:
YEAR
           23
Covered    17
2007        8
2009        7
2008        7
2011        6
2006        6
2005        6
2014        6
2019        5
YEAR        5
2012        4
1980        4
2020        4
2004        4
2003        4
1997        3
2001        3
2016        3
2013        3
2015        3
1998        3
1995        2
2000        2
2010        1
2021        1
1999        1
2002        1
2018        1
1992        1
DCPD        1
Name: count, dtype: int64

MAKE/MODEL:
MAKE/MODEL
Covered                               17
                                      15
MAKE/MODEL                             5
Ford F-150                             4
Ford F-250                             3
                                      ..
Chevrolet 3500 Extended Cab            1
Freightliner Coronada 122SD Dump       1
International Tri Gravel Truck         1
GMC C5500 Crew Cab 4x4 Boom\nTruck     1
Gravel Pit Welding Truck               1
Name: count, Length: 99, dtype: int64

SERIAL NUMBER:
SERIAL NUMBER
                     15
$1,000                9
$5,000                6
SERIAL NUMBER         5
1FVHALAV04DN28068     1
                     ..
3D6WD76L49G514476     1
4V2SEBME2MU508316     1
2FZHATAK44AM12436     1
1HTSDAAN4VH446337     1
$2,500                1
Name: count, Length: 114, dtype: int64

VALUE:
VALUE
            35
$35,000     12
$15,000     11
$75,000      7
$20,000      7
$30,000      7
$40,000      6
$25,000      5
VALUE        5
$37,000      5
$55,000      5
$85,000      5
$80,000      4
$5,000       4
$65,000      3
$60,000      3
$50,000      2
$7,000       2
$45,000      2
$38,000      1
$52,000      1
$12,000      1
$32,000      1
$18,000      1
$16,000      1
$90,000      1
$27,000      1
$220,000     1
$125,000     1
$57,000      1
$150,000     1
$73,000      1
$70,000      1
COLL         1
Name: count, dtype: int64

SECTION A:
SECTION A
Covered        106
                32
SECTION A        5
Not Covered      1
CMP              1
Name: count, dtype: int64

SECTION A.1:
SECTION A.1
               139
SECTION A.1      5
SP               1
Name: count, dtype: int64

SECTION B:
SECTION B
Covered        61
N/A            45
               32
SECTION B       5
Not Covered     1
SEFs            1
Name: count, dtype: int64

SECTION C - PHYSICAL DAMAGE:
SECTION C - PHYSICAL DAMAGE
$1,000                         69
$5,000                         33
                               33
SECTION C - PHYSICAL DAMAGE     5
$2,500                          4
$10,000                         1
Name: count, dtype: int64

ValueError: Grouper for 'None' not 1-dimensional

In [ ]:
# Calculate the accuracy and get insights
print("Summary statistics:")
print(df_cleaned.describe(include='all'))

# Check for missing values
print("Missing values per column:")
print(df_cleaned.isnull().sum())

# Additional insights
# Example: Value counts for categorical columns
print("Value counts for categorical columns:")
# Get a list of column names EXCLUDING those with the name None
valid_columns = [col for col in df_cleaned.select_dtypes(include=['object']).columns if col is not None]
for col in valid_columns:
    print(f"{col}:\n{df_cleaned[col].value_counts()}\n")

In [ ]:
# print(list(df.columns))
# for column in df.columns:
#     print(column)

In [ ]:
# Define the target variable
target_variable = 'TARGET_VARIABLE'

# Define the feature columns (excluding the target variable)
feature_columns = [col for col in df.columns if col != target_variable]

# Display the feature columns
print("Feature Columns:")
print(feature_columns)

# Display the target variable
print("\nTarget Variable:")
print(target_variable)

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, classification_report

# Example: Logistic Regression for classification

# Prepare the data (this will depend on your specific dataset)
# Check the actual column names in your DataFrame
print(df_cleaned.columns)

# Assume 'TARGET_VARIABLE' is the actual name of the column you want to predict
X = df_cleaned.drop('target_variable', axis=1)  # Features
y = df_cleaned['target_variable']  # Target variable

# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Train the model
model = LogisticRegression()
model.fit(X_train, y_train)

# Predict on the test set
y_pred = model.predict(X_test)

# Evaluate the model
accuracy = accuracy_score(y_test, y_pred)
print(f"Accuracy: {accuracy}")
print("Classification Report:")
print(classification_report(y_test, y_pred))

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, classification_report

# Example: Logistic Regression for classification

# Prepare the data (this will depend on your specific dataset)
# Assume 'target' is the column you want to predict
X = df_cleaned.drop('target', axis=1)  # Features
y = df_cleaned['target']  # Target variable

# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Train the model
model = LogisticRegression()
model.fit(X_train, y_train)

# Predict on the test set
y_pred = model.predict(X_test)

# Evaluate the model
accuracy = accuracy_score(y_test, y_pred)
print(f"Accuracy: {accuracy}")
print("Classification Report:")
print(classification_report(y_test, y_pred))